{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="card shadow-lg p-5 text-center">
    <h1 class="mb-4 display-6">Bienvenue 👋</h1>
    {% if user.is_authenticated %}
        <p class="lead">Bonjour <strong>{{ user.get_full_name }}</strong> !</p>
        <p class="text-muted">Vous êtes connecté. Accédez à votre tableau de bord ou explorez l’application.</p>
    {% else %}
        <p class="lead mb-4">Gérez facilement vos utilisateurs avec Django et profitez d’un système d’authentification sécurisé.</p>
        <div class="d-flex justify-content-center gap-3">
            <a href="{% url 'accounts:login' %}" class="btn btn-outline-success btn-lg">Connexion</a>
            <a href="{% url 'accounts:register' %}" class="btn btn-outline-primary btn-lg">Créer un compte</a>
        </div>
    {% endif %}
</div>
{% endblock %}
